*{

    margin: 0;
    padding: 0;
}


header nav div{

    width: 100%;
    height: 50px;
    background-color: blueviolet;
}

header nav div ul li{

    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

